<li role="presentation" style="min-width: 240px" class="tea_bases_observer testli" value="<%= flavour.id %>" onclick="set_dropbox_text('<%= flavour.name %>','flavour_two')" data-text="<%= flavour.name %>">
    <a role="menuitem" tabindex="-1" href="javascript:void(0);"><%= flavour.name %></a>
</li>
 
