    <div class="row text-center steps_row">
  <!--Below is the Image of steps-->
       <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/1nh.png" style="padding-top:0px"><br><p class="image-caption-dark">SELECT A</br>BASE</p></div>
       <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/2nh2.png" style="padding-top:17px"><br><p class="image-caption-dark">SELECT<br>FLAVOURS</p></div>
       <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/3nh2.png" style="padding-top:17px"><br><p class="image-caption-dark">CHOOSE YOUR <br>OWN LABEL</p></div>
       <div class="col-md-2"><img class="img-responsive center-block" src="/assets/4nh2.png" style="padding-top:14px"><br><p class="image-caption-dark">SELECT <br>PACKAGING</p></div>
       <div class="col-md-2"><img class="img-responsive center-block" src="/assets/5nh.png" style="padding-top:16px"><br><p class="image-caption-dark">WRITE A <br>MESSAGE</p></div>
       <div class="col-md-2"><img class="img-responsive center-block" src="/assets/6mainh.png" style="padding-top:17px"><br><p class="image-caption">SHIPPING</p></div>
    </div>


<p id=completionpara>
  Your order has been added to your Cart.
</p>


 <br/><br/>
 
<div class="row text-center">
           <a href="/pages/completion_page"><img id="image1" class="img-responsive center-block"style="display:inline;position:relative;height:30px;margin-right:5px" src="../assets/buttons/btn_checkout.png">
  </a>
        
         <a href="/pages/completion_page"><img id="image1" class="img-responsive center-block"style="display:inline;position:relative;height:30px;margin-right:5px" src="../assets/buttons/btn_make_another_blend.png">
  </a>
        
         <a href="/pages/completion_page"><img id="image1" class="img-responsive center-block"style="display:inline;position:relative;height:30px;margin-right:5px" src="../assets/buttons/btn_buy_more_chai.png">
  </a>
        
</div>

<br/>


<br/>

<p id="completionpara3" style="font-size:16px;font-family:'Signika Semibold'">
  Share Your Creation!
</p>
<div class="row text-center" style="margin-bottom:50px">
  <a href="#"><img src="/assets/fbshare.png" style="width:80px;"></a> &nbsp;&nbsp;
  <a href="#"><img src="/assets/twittershare.png" style="width:80px;"></a>&nbsp;&nbsp;
  <a href="#"><img src="/assets/pintrestshare.png" style="width:80px;"></a>&nbsp;&nbsp;
  <a href="#"><img src="/assets/mailshare.png" style="width:80px;"></a>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
     