<!DOCTYPE html>
<!--<head>
  <meta charset="utf-8">
  <title>Bootstrap 3, from LayoutIt!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
 <!-- 
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="/assets/scripts.js"></script>
</head>
-->

<div>
	<div class="row clearfix ">
		<div class="col-md-12 column">
			<div class="row clearfix text-center row_of_images">
				<div class="col-md-3 column">
				</div>
				<div class="col-md-2 column">
					<img src="/assets/billing/1bh.png">
				</div>
				<div class="col-md-2 column">
					<img  src="/assets/billing/2h.png">
				</div>
				<div class="col-md-2 column">
					<img  src="/assets/billing/3h.png">
				</div>
				<div class="col-md-3 column">
				</div>
			</div>
			<div class="row clearfix text-center row_of_font">
				<div class="col-md-3 column">
				</div>
				<div class="col-md-2 column">
					Billing Information
				</div>
				<div class="col-md-2 column">
					Order Summary
				</div>
				<div class="col-md-2 column">
					Payment
				</div>
				<div class="col-md-3 column">
				</div>
			</div>
			
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<div>
				
				<div class="step6form">
  <div style="width:50%;float:left">
      <div>
        <p class="redheading">Billing information</p>
        <ul>
          <li>
            <label>E-mail-Id* </label>
            <input type="text" class="step6formtextbox"  placeholder=" Enter your email-id"><br>
          </li>
        </ul>
        
        <ul>
          <li>
             <label>Title</label>
             <input type="text" class="step6formtextbox"  placeholder="Mr./Ms./Mrs."><br>
          </li> 
        </ul>
        
        <br/>
        
        <p class="redheading">Address</p>
        
        <ul>
         <li>
            <label style="  vertical-align: top">Address* </label>
            <textarea id="step6formtextarea"  placeholder=" Enter shipping address"></textarea><br>
          </li> 
        </ul>
        
       
         <ul>
         <li>
            <label>Country* </label>
            <textarea class="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul><br/>
        <p class="redheading">Contact Details</p>
        <ul>
         <li>
            <label>Contact No.* </label>
            <textarea class="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul>
        <ul>
         <li>
            <label style="vertical-align: -webkit-baseline-middle">Preferred Courier Company </label>
            <textarea class="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul>    
        <br><br>

         <a href="/pages/added_cart"><img id="image1" class="img-responsive center-block"style="display:inline;position:relative;width:127px;left:27px" src="../assets/shipmyteabutton.png">
  </a>
        



       
      </div>
  
  </div>  
  <div style="width:50%;float:right">
    <br/><br/>
    <ul style="position:relative;top:4px">
      <li>
        <label>First Name* </label>
        <input type="text" class="step6formtextbox"  placeholder=" Enter First Name"><br>
      </li>
    </ul>
    <ul style="position:relative;top:4px">
      <li>
        <label>Last Name* </label>
        <input type="text" class="step6formtextbox"  placeholder=" Enter Last Name"><br>
      </li>
    </ul><br/><br/>
    <p class="redheading">  </p>
     <ul style="position:relative;top:16px">
      <li>
        <label>State* </label>
        <input type="text" class="step6formtextbox"  placeholder=""><br>
      </li>
    </ul>
     <ul style="position:relative;top:16px">
      <li>
        <label>City* </label>
        <input type="text" class="step6formtextbox"  placeholder=""><br>
      </li>
    </ul>
     <ul style="position:relative;top:16px">
      <li>
        <label>Zip Code </label>
        <input type="text" class="step6formtextbox"  placeholder=" Enter First Name"><br>
      </li>
    </ul>
    
    <br><br><br>
    <br><br><br>
     <ul style="position:relative;top:16px">
      <li>
        <label>Alternate No.</label>
        <input type="text" class="step6formtextbox"  placeholder=""><br>
      </li>
    </ul>
    
    
    
    
    
    
    
    
  </div>
</div>










		<div class="step6form">
  <div style="width:50%;float:left">
      <div>
        <p class="redheading">Shipping information</p>
        <ul>
          <li>
            <label>E-mail-Id* </label>
            <input type="text" class="step6formtextbox"  placeholder=" Enter your email-id"><br>
          </li>
        </ul>
        
        <ul>
          <li>
             <label>Title </label>
             <input type="text" class="step6formtextbox"  placeholder="Mr./Ms./Mrs."><br>
          </li> 
        </ul>
        
        <br/>
        
        <p class="redheading">Address</p>
        
        <ul>
         <li>
            <label style="  vertical-align: top">Address* </label>
            <textarea id="step6formtextarea"  placeholder=" Enter shipping address"></textarea><br>
          </li> 
        </ul>
        
        <ul>
         <li>
            <label>Landmark* </label>
            <textarea class="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul>
         <ul>
         <li>
            <label>Country* </label>
            <textarea class="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul><br/>
        <p class="redheading">Contact Details</p>
        <ul>
         <li>
            <label>Contact No.* </label>
            <textarea class="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul>
        <ul>
         <li>
            <label style="vertical-align: -webkit-baseline-middle">Preferred Courier Company </label>
            <textarea class="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul>    
        <br><br>

         <a href="/pages/added_cart"><img id="image1" class="img-responsive center-block"style="display:inline;position:relative;width:127px;left:27px" src="../assets/shipmyteabutton.png">
  </a>
        



       
      </div>
  
  </div>  
  <div style="width:50%;float:right">
    <br/><br/>
    <ul style="position:relative;top:4px">
      <li>
        <label>First Name* </label>
        <input type="text" class="step6formtextbox"  placeholder=" Enter First Name"><br>
      </li>
    </ul>
    <ul style="position:relative;top:4px">
      <li>
        <label>Last Name* </label>
        <input type="text" class="step6formtextbox"  placeholder=" Enter Last Name"><br>
      </li>
    </ul><br/><br/>
    <p class="redheading">  </p>
     <ul style="position:relative;top:16px">
      <li>
        <label>State* </label>
        <input type="text" class="step6formtextbox"  placeholder=""><br>
      </li>
    </ul>
     <ul style="position:relative;top:16px">
      <li>
        <label>City* </label>
        <input type="text" class="step6formtextbox"  placeholder=""><br>
      </li>
    </ul>
     <ul style="position:relative;top:16px">
      <li>
        <label>Zip Code </label>
        <input type="text" class="step6formtextbox"  placeholder=" Enter First Name"><br>
      </li>
    </ul>
    
    <br><br><br>
    <br><br><br>
     <ul style="position:relative;top:16px">
      <li>
        <label>Alternate No.</label>
        <input type="text" class="step6formtextbox"  placeholder=""><br>
      </li>
    </ul>
    
  </div>
</div>



			</div>
		
		
		</div>
	</div>
</div>

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
     