<p class="cart_heading">
  SHOPPING CART
</p>
<div class="menudiv font_bold">
  <div class="col-md-1">
    IMAGE
  </div>
  <div class="col-md-2">
    PRODUCT NAME
  </div>
  <div class="col-md-2">
    UNIT
  </div>
  <div class="col-md-1">
    CODE
  </div>
  <div class="col-md-1">
    QUANTITY
  </div>
  <div class="col-md-2">
    UNIT PRICE
  </div>
  <div class="col-md-1">
    TOTAL
  </div>  
  <div class="col-md-2">
    
  </div>  
</div>
<div class="menudiv2 font_11">
  <div class="col-md-1">
    <img src="/assets/billing/cart/final_product_cart.png" style="width:65px">
  </div>
  <div class="col-md-2">
    Girnar Camomile Infusion with Honey
  </div>
  <div class="col-md-2">
    50 g Glass Jar 
  </div>
  <div class="col-md-1">
    242315
  </div>
  <div class="col-md-1">
    QUANTITY
  </div>
  <div class="col-md-2">
    Rs.550
  </div>
  <div class="col-md-1">
    Rs.550
  </div>  
  <div class="col-md-2">
    <img src="/assets/buttons/btn_delete.png" style="width:55px">
  </div>  
</div>











   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
     