<div class="row text-center" style="position:relative;top:25px;margin: 0px 150px auto;margin-bottom:20px">
  <!--Below is the Image of steps-->
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/1h.png"style="height:80px"><br><p class="image-caption">SELECT A</br>BASE</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/2h2.png" style="padding-top:18px;height:80px"><br><p class="image-caption">SELECT<br>FLAVOURS</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/3h2.png" style="padding-top:16px;height:80px"><br><p class="image-caption">SELECT <br>PACKAGING</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/4h2.png" style="padding-top:21px;height:80px"><br><p class="image-caption">CHOOSE YOUR <br>OWN LABEL</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/5h.png" style="padding-top:20px;height:80px"><br><p class="image-caption">WRITE A <br>MESSAGE</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/6h.png" style="padding-top:24px;height:80px"><br><p class="image-caption">SHIPPING</p></div>
  
   
  
   <!-- <div class="span4"></div>-->
</div>



<p id=completionpara>
  Thank you for taking the time out to experience <br/> My Signature Cup. We hope you enjoyed creating <br/> your personalized tea!
</p>


 <br/><br/>
 
<p id=completionpoweredby>
  Powered by &nbsp;&nbsp;
  <a href="https://www.girnar.com" target="_blank"><img class="img-responsive" style="position: relative;height:20px; display: inline" src="/assets/girnarlogo.png">
  </a>
</p>

<br/>
<p id=completionpara3>
  My Signature Cup Blends will also be available on 
  <a href="www.chaichai.in" target="blank" style="text-decoration:underline;color:rgb(189,199,70);display:inline">
    chaichai.in 
  </a>
</p>

<br/>

<p id="completionpara3" style="font-size:14px">
  Share Your Creation!
</p>
<div class="row text-center">
  <a href="#"><img src="/assets/fbshare.png" style="width:80px;"></a> &nbsp;&nbsp;
  <a href="#"><img src="/assets/twittershare.png" style="width:80px;"></a>&nbsp;&nbsp;
  <a href="#"><img src="/assets/pintrestshare.png" style="width:80px;"></a>&nbsp;&nbsp;
  <a href="#"><img src="/assets/mailshare.png" style="width:80px;"></a>
</div>
