<!--<div class="navbar navbar-fixed-bottom"></div>-->
  <div class ="footer" style="clear:both">
   <img class="img-responsive "style="position: relative;top: -1px" src="/assets/footertopline.png">
   <a href="/#"> <img class="img-responsive "style="position: relative;display: inline;height: 75px;top: -1px;left: 7px" src="/assets/logo.png"></a>
   <img class="img-responsive "style="position: relative;display: inline;height: 77px;left:6px" src="/assets/footerverticalline1.png">
   <img class="img-responsive "style="position: absolute; display: inline;width: 86%;bottom: 32px"src="/assets/footerhorizontalline.png">
   <a href="https://www.facebook.com/TeasAtGirnar" target="_blank"> <img class="img-responsive" style="position: relative; display: inline;height:22px;bottom:17px;left: 26px" src="/assets/fblogo.png"></a>&nbsp;
   <a href="https://twitter.com/teasatgirnar" target="_blank">  <img class="img-responsive" style="position: relative; display: inline;height:22px;bottom:17px;left: 23px" src="/assets/twitterlogo.png"></a>&nbsp;
   <a href="https://www.linkedin.com/company/girnar-food-&-beverages-pvt-ltd" target="_blank"><img class="img-responsive" style="position: relative; display: inline;height:22px;bottom:17px;left: 20px" src="/assets/linkedinlogo.png"></a>&nbsp;
   <a href="https://www.youtube.com/user/TeasAtGirnar" target="_blank"><img class="img-responsive" style="position: relative; display: inline;height:22px;bottom:17px;left: 17px" src="/assets/youtubelogo.png"></a>&nbsp;
   <a href="https://www.instagram.com/teasatgirnar" target="_blank"><img class="img-responsive" style="position: relative; display: inline;height:22px;bottom:17px;left: 14px" src="/assets/instagramlogo.png"></a>&nbsp;
   <p id="abcd"style="position: relative;bottom: 15px;left: 9px">&nbsp;Call us on</p><p id="yellownumber"style="position: relative;bottom: 15px;left: 10px"> 1-800-209-6502</p>&nbsp;&nbsp;
   <img class="img-responsive"style="position: relative;display: inline;bottom: 18px;height: 47px;left: 19px" src="/assets/footerverticalline2.png">&nbsp;&nbsp;
   <a href="https://www.girnar.com" target="_blank"><img class="img-responsive" style="position: relative;height: 24px;display: inline;bottom: 18px;left: 39px" src="/assets/girnarlogo.png"></a>&nbsp;&nbsp;&nbsp;
   <img class="img-responsive "style="position: relative;display: inline;bottom: 18px;height: 47px;left: 55px" src="/assets/footerverticalline2.png">&nbsp;&nbsp;&nbsp;&nbsp;
   <a href="http://www.chaichai.in" target="_blank"><img class="img-responsive" style="position: relative;height: 28px;display: inline;bottom: 19px;left: 70px;" src="/assets/chaichailogo.png"></a>
   <div id="lastline"style="position:absolute;bottom:5px;padding-left:300px">Website Brewed By <a href="http://www.colourcraftstudio.co.in/" target="_blank"><p id="yellownumber3">ColourCraft Studio</p></a></div>
  </div>
  
    