<div>
            
         

  <!--The following line has homepage carausel image border -->
  <!--<div class="span4"><img class="img-responsive center-block" src="http://i62.tinypic.com/faaq80.png" /></div>-->
    <div class="homepara">
      <p>
      6 simple steps to create your very own signature beverage. Pamper yourself with your<br> personalized and unique blend or gift it to loved ones. From choosing the type of beverage and<br> flavours to creating your own brand and packaging, let the connoisseur in you come out and play! </p>
    </div>

<div class="row text-center" style="position:relative;top:25px;margin: 0px 150px auto;">
  <!--Below is the Image of steps-->
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/1h.png"style="height:80px"><br><p class="image-caption">SELECT A</br>BASE</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/2h2.png" style="padding-top:18px;height:80px"><br><p class="image-caption">SELECT<br>FLAVOURS</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/3h2.png" style="padding-top:16px;height:80px"><br><p class="image-caption">SELECT <br>PACKAGING</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/4h2.png" style="padding-top:21px;height:80px"><br><p class="image-caption">CHOOSE YOUR <br>OWN LABEL</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/5h.png" style="padding-top:20px;height:80px"><br><p class="image-caption">WRITE A <br>MESSAGE</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/6h.png" style="padding-top:24px;height:80px"><br><p class="image-caption">SHIPPING</p></div>
  
   
   <br><br>
   <!-- <div class="span4"></div>-->
</div>





<!--
<h6><span> India’s First Beverage<br> Customization & Gifting Service <br></span>
<h66><span>Now make your own customized beverage blend with your choice of infusions and flavours from the comfort of your home, and get it delivered to your doorstep or to a loved one! </span>-->
<!--<div class="bs-docs-grid">
      <div class="row-show-grid">
        <div class="col-md-2"><img src="http://i60.tinypic.com/w18sw8.png" alt="MSC" style="height:150px"></div>
        <div class="col-md-2"><img src="http://i60.tinypic.com/3026z4z.png" alt="MSC" style="height:150px"></div>
        <div class="col-md-2"><img src="http://i57.tinypic.com/k0fwuv.png" alt="MSC" style="height:150px"></div>
        <div class="col-md-2"><img src="http://i61.tinypic.com/vq5bv5.png" alt="MSC" style="height:150px"></div>
        <div class="col-md-2"><img src="http://i59.tinypic.com/2nbfwhz.png" alt="MSC" style="height:150px"></div>
        <div class="col-md-2"><img src="http://i57.tinypic.com/1snpxc.png" alt="MSC" style="height:120px"></div>
        
            </div>-->
        
        <br><br>
        
     <!--<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <%# @serving_styles.each do |serving_style| %>
      <tr>
        <td><%#= serving_style.name %></td>
        <td><%#= serving_style.description %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

        -->
    
<!--<center>
  <button id="blending-button">
    <a href="/orders/new">START BLENDING</a>      
  </button></center>-->
 <br><br> 
 <div class="row text-center">
      <a href="https://rails-tutorial-alekh16-1.c9.io/pages/step1"><img id="image1" class="img-responsive center-block"style="  margin-right: 21px;display:inline;position:relative;width:127px" src="../assets/buttons/StartBlendingbtn.png">
       </a>

      <a href="/#"><img id="image1" class="img-responsive center-block"style="display:inline;position:relative;width:113px" src="/assets/buttons/Reorderbtn.png">
       </a>
 <br><br> </div>
 <!-- <center>
    <div>
    <div style="float:left;padding-left:230px">
    <%#= button_to "START BLENDING", 'pages/step1', {:class => "buttonTo" } %>
    </div>
    <div style="float:left;padding-left:20px">
    <%#= button_to "REORDER", 'orders/new', {:class => "buttonTo"} %>
  </div>
  </div>
  </center>-->

  
  <br>
  <br>
  
  
  <br>
  
  
  
  
  
  
  
</div>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <!--<script src="js/bootstrap.js"></script>-->
