<div class="home_carousel">
  <div class="home_carousel_properties">
   <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active">
              <img alt="" src="/assets/home_car_one/car_radio3.png">
            </li>
            <li data-target="#myCarousel" data-slide-to="1">
              <img alt="" src="/assets/home_car_one/car_radio2.png">
            </li>
            <li data-target="#myCarousel" data-slide-to="2">              
            <img alt="" src="/assets/home_car_one/car_radio2.png">
</li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item first_car_div">
            
            <ul>
              
              <li class="col-lg-3" style="
    text-align: center;
    background-image: url('assets/home_car_one/plus_logo.png');
    background-repeat: no-repeat;
    background-position: right 74px;
    background-size: 28px;
">
                <img src="/assets/home_car_one/your_blend.png" style="height:154px">
            </li>
              
              
              
              <li class="col-lg-3" style="
    text-align: center;    
    background-image: url('assets/home_car_one/equal_logo.png');    background-repeat: no-repeat;    
    background-position: right 66px;    background-size: 28px;
    /* padding-left: 0px; */
    /* height: 100%; */
    /* line-height: 100%; */
    position: relative;
    top: 10px;
">
                 <img src="/assets/home_car_one/your_custom.png" style="height:132px">
                
  </li>
              
              
              
              <li class="col-lg-6">
                 <img src="/assets/home_car_one/your_result.png" style="height:134px">
              </li>
            </ul>
            
            
            <ul>
              <li class="col-md-3">
                Your Own <br> Unique Blend
              </li>
              <li class="col-md-3">
                Customized <br>Packaging
              </li>
              <li class="col-md-6">
                 <img src="/assets/home_car_one/button_1.png" style="height:25px">
              </li>
            </ul>
            
            
            
            
            
            
            </div>
            <div class="item" style="background-image:url('/assets/homepage/car_back_two.png')">
              <ul>
                <li class="col-lg-3">
                  <img src="/assets/home_car_two/first.png" style="height:154px" >
                </li>
                 <li class="col-lg-3">
                  <img src="/assets/home_car_two/second.png" style="height:154px" >
                </li>
                 <li class="col-lg-6">
                  <img src="/assets/home_car_two/third.png" style="height:154px" >
                </li>
              </ul>
             
              <ul>
                 <li class="col-lg-6">
                </li>
              <li class="col-lg-6">
                  <img src="/assets/home_car_two/car_two_button.png" style="height:25px" >
                </li>   
              </ul>
            </div>
            <div class="item" style="background-image:url('/assets/homepage/car_back_three.png')">
              <ul>
                <li class="col-lg-3">
                  <img src="/assets/home_car_three/first.png" style="height:154px" >
                </li>
                 <li class="col-lg-3">
                  <img src="/assets/home_car_three/second.png" style="height:154px" >
                </li>
                 <li class="col-lg-6">
                  <img src="/assets/home_car_three/third.png" style="height:154px" >
                </li>
              </ul>
             
              <ul>
                 <li class="col-lg-6">
                </li>
              <li class="col-lg-6">
                  <img src="/assets/home_car_three/car_three_button.png" style="height:25px" >
                </li>   
              </ul>
            </div>
          </div>
          <!-- Carousel nav 
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
    </div> 
    </div>
    
    
  <br/>
</div>
<br/>
  <div class="homepage_after_car_left">
      <p class="para_one">
        India’s First Beverage<br/>
        Customization & Gifting Service
      </p>
      <p class="para_two">
        Now make your own customized beverage blend with your choice of infusions and flavours from the comfort of your home, and get it delivered to your doorstep or to a loved one!

      </p>  
     <a href="/pages/step1"> <img src="/assets/home_button/button1.png" style="height:35px">
     </a>
      <br/>
    </div>
  <div class="homepage_after_car_right">
     abc

     <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KtPv7IEhWRA?html5=1">test</iframe>
</div>
<h2>Example of creating Modals with Twitter Bootstrap</h2>
<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" 
   data-target="#myModal">
   Launch demo modal
</button>

<!-- Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               This Modal title
            </h4>
         </div>
         <div class="modal-body">
            Add some text here
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">Close
            </button>
            <button type="button" class="btn btn-primary">
               Submit changes
            </button>
         </div> -->
    <!--  </div> /.modal-content -->
    <!--</div> /.modal-dialog -->
<!--</div><!-- /.modal -->
    </div>
<br/>









   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <!--<script src="js/bootstrap.js"></script>-->
