    <div class="row text-center steps_row">
  <!--Below is the Image of steps-->
       <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/1nh.png" style="padding-top:0px"><br><p class="image-caption-dark">SELECT A</br>BASE</p></div>
       <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/2nh2.png" style="padding-top:17px"><br><p class="image-caption-dark">SELECT<br>FLAVOURS</p></div>
       <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/3nh2.png" style="padding-top:17px"><br><p class="image-caption-dark">CHOOSE YOUR <br>OWN LABEL</p></div>
       <div class="col-md-2"><img class="img-responsive center-block" src="/assets/4nh2.png" style="padding-top:14px"><br><p class="image-caption-dark">SELECT <br>PACKAGING</p></div>
       <div class="col-md-2"><img class="img-responsive center-block" src="/assets/5nh.png" style="padding-top:16px"><br><p class="image-caption-dark">WRITE A <br>MESSAGE</p></div>
       <div class="col-md-2"><img class="img-responsive center-block" src="/assets/6mainh.png" style="padding-top:17px"><br><p class="image-caption">SHIPPING</p></div>
    </div>


<div style="width:50%;float:left;line-height:initial">
  <div ><img class="img-responsive" src="/assets/step6logo.png" style="padding-top:24px;width:225px;position:relative;left:20px">
  </div>
  <br>
  
  <div style="position:relative;left:45px">
 
      <div class="block">
        <label>BLEND NAME:</label>
        <span id="step6WhiteText">Your Blend Name</span>
      </div>
      
      <br>
  
      <div class="block">
          <label>YOUR MESSAGE: </label>
          <span id="step6WhiteText">Your personalized message will appear here in 90 characters or less.</span>
      
      </div>
      
      <br>
  
      <div class="block">
          <label>OTHER DETAILS: </label>
          <span id="step6WhiteText">100 gms loose tea (This description will change according to the base tea a user selects).</span>
      </div>
      <br>

  </div>
</div>


<div class="step6form">
  <div style="width:50%;float:left">
      <div>
        <p class="redheading">Shipping information</p>
        <ul>
          <li>
            <label>E-mail-Id* </label>
            <input type="text" id="step6formtextbox"  placeholder=" Enter your email-id"><br>
          </li>
        </ul>
        
        <ul>
          <li>
             <label>Title </label>
             <input type="text" id="step6formtextbox"  placeholder="Mr./Ms./Mrs."><br>
          </li> 
        </ul>
        
        <br/>
        
        <p class="redheading">Address</p>
        
        <ul>
         <li>
            <label style="  vertical-align: top">Address* </label>
            <textarea id="step6formtextarea"  placeholder=" Enter shipping address"></textarea><br>
          </li> 
        </ul>
        
        <ul>
         <li>
            <label>Landmark* </label>
            <textarea id="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul>
         <ul>
         <li>
            <label>Country* </label>
            <textarea id="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul><br/>
        <p class="redheading">Contact Details</p>
        <ul>
         <li>
            <label>Contact No.* </label>
            <textarea id="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul>
        <ul>
         <li>
            <label style="vertical-align: -webkit-baseline-middle">Preferred Courier Company </label>
            <textarea id="step6formtextbox"  placeholder=""></textarea><br>
          </li> 
        </ul>    
        <br><br>

         <a href="/pages/completion_page"><img id="image1" class="img-responsive center-block"style="display:inline;position:relative;width:127px;left:27px" src="../assets/shipmyteabutton.png">
  </a>
        



       
      </div>
  
  </div>  
  <div style="width:50%;float:right">
    <br/><br/>
    <ul style="position:relative;top:4px">
      <li>
        <label>First Name* </label>
        <input type="text" id="step6formtextbox"  placeholder=" Enter First Name"><br>
      </li>
    </ul>
    <ul style="position:relative;top:4px">
      <li>
        <label>Last Name* </label>
        <input type="text" id="step6formtextbox"  placeholder=" Enter Last Name"><br>
      </li>
    </ul><br/><br/>
    <p class="redheading">  </p>
     <ul style="position:relative;top:16px">
      <li>
        <label>State* </label>
        <input type="text" id="step6formtextbox"  placeholder=""><br>
      </li>
    </ul>
     <ul style="position:relative;top:16px">
      <li>
        <label>City* </label>
        <input type="text" id="step6formtextbox"  placeholder=""><br>
      </li>
    </ul>
     <ul style="position:relative;top:16px">
      <li>
        <label>Zip Code </label>
        <input type="text" id="step6formtextbox"  placeholder=" Enter First Name"><br>
      </li>
    </ul>
    
    <br><br><br>
    <br><br><br>
     <ul style="position:relative;top:16px">
      <li>
        <label>Alternate No.</label>
        <input type="text" id="step6formtextbox"  placeholder=""><br>
      </li>
    </ul>
    
    
    
    
    
    
    
    
  </div>
</div>
<br><br><br><br><br>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
     