<ul class="stepsUl">
  <li class="stepsLi">
    <img class="img-responsive center-block" src="/assets/1mainh.png" style="padding-top:0px"><br><p class="image-caption"style="font-size:11px">SELECT A</br>BASE</p>
  </li>
  <li class="stepsLi">
    <img class="img-responsive center-block" src="/assets/2nh2.png" style="padding-top:13px"><br><p class="image-caption-dark">SELECT<br>FLAVOURS</p>
  </li>
  <li class="stepsLi">
    <img class="img-responsive center-block" src="/assets/3nh.png" style="padding-top:11px"><br><p class="image-caption-dark">CHOOSE YOUR <br>OWN LABEL</p>
  </li>
  <li class="stepsLi">
    <img class="img-responsive center-block" src="/assets/4nh.png" style="padding-top:16px"><br><p class="image-caption-dark">SELECT <br>PACKAGING</p>
  </li>
  <li class="stepsLi">
    <img class="img-responsive center-block" src="/assets/5nh.png" style="padding-top:15px"><br><p class="image-caption-dark">WRITE A <br>MESSAGE</p>
  </li>
  <li class="stepsLi">
    <img class="img-responsive center-block" src="/assets/6nh.png" style="padding-top:19px"><br><p class="image-caption-dark">SHIPPING</p>
  </li>
</ul>