    <div class="row text-center steps_row">
  <!--Below is the Image of steps-->
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/1nh.png" style="padding-top:0px"><br><p class="image-caption-dark">SELECT A</br>BASE</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/2nh2.png" style="padding-top:16px"><br><p class="image-caption-dark">SELECT<br>FLAVOURS</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/3nh2.png" style="padding-top:16px"><br><p class="image-caption-dark">CHOOSE YOUR <br>OWN LABEL</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/4nh2.png" style="padding-top:12px"><br><p class="image-caption-dark">SELECT <br>PACKAGING</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/5mainh.png" style="padding-top:15px"><br><p class="image-caption">WRITE A <br>MESSAGE</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/6nh.png" style="padding-top:16px"><br><p class="image-caption-dark">SHIPPING</p></div>

   <!-- <div class="span4"></div>-->
  </div>
  <div style="width:50%;float:left">
   <div class><img class="img-responsive center-block" src="/assets/step5logo.png" style="padding-top:24px"></div>
<br>

<div>
 <div style="position:relative;left:66px">
  <span id="text4">BLEND NAME  </span><img class="img-responsive center-block" src="/assets/infoLogo.png" style="display:inline;bottom:1px;left:5px;position:relative"><span style="position:relative;display:inline;left:75px;font-family:Signika;font-size:12px;font-weight:bold">20</span>
  <textarea id="textArea1" placeholder="  Type your blend name here"></textarea><br>
 </div>
</div>
<div style="display:block;clear:both;position:relative;left:66px">
  <span id="text4">MESSAGE </span><img class="img-responsive center-block" src="/assets/infoLogo.png" style="display:inline;bottom:1px;left:5px;position:relative"><span style="position:relative;display:inline;left:150px;font-family:Signika;font-size:12px;font-weight:bold">90</span>
  <textarea id="textArea2" placeholder="Type your message here" ></textarea>
<br><br>
</div>

 

  <div>
  <a href="/pages/step6"><img class="img-responsive"style="display:block;position:relative;clear:both;width: 107px;left: 68px" src="../assets/buttons/Nextbtn.png">
  </a>

<br><br><br>     
  </div>
 </div>
 
 
 
 
 
  <div style="width:50%;float:left;top:100px;position:relative">
   
   <div class="col-md-7"><img class="img-responsive center-block" src="/assets/step1cupempty.png"></div>






<div class="col-md-7" style="display:block;clear:both;position:relative;right:8px">
    <img class="img-responsive center-block" src="/assets/step1description.png">
    
</div>
</div>