    <div class="row text-center steps_row">
  <!--Below is the Image of steps-->
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/1nh.png" style="padding-top:0px"><br><p class="image-caption-dark">SELECT A</br>BASE</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/2nh2.png" style="padding-top:17px"><br><p class="image-caption-dark">SELECT<br>FLAVOURS</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/3mainh2.png" style="padding-top:17px"><br><p class="image-caption">SELECT <br>PACKAGING</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/4nh2.png" style="padding-top:13px"><br><p class="image-caption-dark">CHOOSE YOUR <br>OWN LABEL</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/5nh.png" style="padding-top:16px"><br><p class="image-caption-dark">WRITE A <br>MESSAGE</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/6nh.png" style="padding-top:17px"><br><p class="image-caption-dark">SHIPPING</p></div>

   <!-- <div class="span4"></div>-->
  <br><br><br><br>
  </div>

   <div class="step_content">
    <div class="left_half">
      <div class="step_logo_image" ><img class="img-responsive" src="/assets/step4logo.png">
      </div>
  </div>

 
   <div class="right_half">Here Cup Image will come
   </div>
</div>
  <div class="text-center" style="position:relative;margin:0px 100px;clear:both;overflow:hidden">
    <form>
      <div class="col-md-3">
         <div>
           <img class="img-responsive center-block" src="/assets/pack1.png" style="display:inline;position:relative">      
          <input type="radio" name="box1" value="male"><p id="radioText">BOX</p>
        </div>
      </div>
  
      <div class="col-md-3">
       <div> 
         <img class="img-responsive center-block" src="/assets/pack2.png" style="display:inline;position:relative">      
         <input type="radio" name="box1" value="male"  ><p id="radioText">POUCH - WHITE </p>
       </div>
      </div>
  
      <div class="col-md-3">
        <img class="img-responsive center-block" src="/assets/pack3.png" style="  display:inline;position:relative">
          <div><input type="radio" name="box1" value="male" ><p id="radioText">POUCH - MATTE BLACK</p>
      </div></div>
      
      
      
     <div class="col-md-3">  
        <img class="img-responsive center-block" src="/assets/pack4.png" style="  display:inline;position:relative">
          <div><input type="radio" name="box1" value="male"><p id="radioText">POUCH - GREEN</p>
      </div></div>
      
      <div class="col-md-3" style="clear:both">
        <img class="img-responsive center-block" src="/assets/pack5.png" style="  display:inline;position:relative">
          <div><input type="radio" name="box1" value="male" ><p id="radioText">POUCH - SHINY BLACK</p>
      </div></div>
      
      <div class="col-md-3">
        <img class="img-responsive center-block" src="/assets/pack6.png" style="display:inline;   position:relative">
          <div>
            <input type="radio" name="box1" value="male"><p id="radioText">POUCH - GOLD</p>
          </div>
      </div>
      
    </form>  
     
<br><br><br/><br/>  
  </div>

  <br><br/>
  
<div style="position:relative;margin:0px 100px">
  <div class="col-md-3"> <a href="#"><img id="image1" class="img-responsive" style="position:relative;width:115px" src="/assets/buttons/select-btn.png">
   </a></div>
   <div class="col-md-3"><a href="/pages/step4"><img id="image1" class="img-responsive" style="position:relative;width:115px" src="/assets/buttons/personalize-btn.png"></a>
   <img class="img-responsive center-block" src="/assets/infoLogo.png" style="display:inline">
   </div>
</div>

  
  
  
<br><br><br><br><br><br><br><br>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery.screwdefaultbuttonsV2.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
<script>
//alert("hi");
    $('input:radio').screwDefaultButtons({
        image: 'url("/assets/radio/new2.png")',
        width: 28,
        height: 19
    });
</script>      
<!--<script>
  $(".styledRadio").change(function() {
    $('.radio_packaging_white').removeClass('radio_packaging_blue');
    $(this).closest('.radio_packaging_white').addClass('radio_packaging_blue');
});
</script>-->