<div class="col-md-12 text-center" style="width:700px;padding-left:100px">

        <div class="row">
  <!--Below is the Image of steps-->
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/1mainh.png" style="padding-top:0px"><br><p class="image-caption"style="font-size:11px">SELECT A</br>BASE</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/2nh2.png" style="padding-top:13px"><br><p class="image-caption-dark">SELECT<br>FLAVOURS</p></div>
   <div class="col-md-2 "><img class="img-responsive center-block" src="/assets/3nh.png" style="padding-top:11px"><br><p class="image-caption-dark">CHOOSE YOUR <br>OWN LABEL</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/4nh.png" style="padding-top:16px"><br><p class="image-caption-dark">SELECT <br>PACKAGING</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/5nh.png" style="padding-top:15px"><br><p class="image-caption-dark">WRITE A <br>MESSAGE</p></div>
   <div class="col-md-2"><img class="img-responsive center-block" src="/assets/6nh.png" style="padding-top:19px"><br><p class="image-caption-dark">SHIPPING</p></div>

   <!-- <div class="span4"></div>-->
  </div>
  </div>
  
   
   <br><br>
   <br><br>
   <div class="row">
<div class="col-md-6"><img class="img-responsive center-block" src="/assets/step1logo.png" style="padding-top:24px"></div>

<div class="col-md-6"><img class="img-responsive center-block" src="/assets/step1cupempty.png" style="padding-top:24px"></div>
</div>
<img id="image" class="img-responsive center-block" style="padding-left:370px;width:600px" src="/assets/step1description.png"><p id="text">1 MORE STEP TO SEE THE PRICE</p>

    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle modifiedversion" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
SELECT SERVING STYLE
    <span class="caret downarrow"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% @serving_styles.each do |s| %>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= s.name %></a></li>
    <% end %>
  </ul>
</div>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle modifiedversion" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
SELECT BASE
    <span class="caret downarrow"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% @serving_styles.each do |s| %>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= s.name %></a></li>
    <% end %>
  </ul>
</div>
    
    
    <%#= button_to "REORDER", '/orders/new', {:class => "buttonTo"} %>
 
<br><br><br><br>






   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <!--<script src="js/bootstrap.js"></script>-->
