


     <!-- <nav role="navigation" class="navbar navbar-default">-->


          <!-- Brand and toggle get grouped for better mobile display -->

          <!--<div class="navbar-header">

              <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">

                  <span class="sr-only">Toggle navigation</span>

                  <span class="icon-bar"></span>

                  <span class="icon-bar"></span>

                  <span class="icon-bar"></span>

              </button>

              

          </div>-->

          <!-- Collection of nav links, forms, and other content for toggling -->

          <!--<div id="navbarCollapse" class="collapse navbar-collapse">

              <div class="row">
                <div class="col-md-3">100% Secure Payment<img src="Visa.jpg" alt="MSC" style="width:18px"></div>
                <div class="col-md-2">Buy more tea at</div>
                <div class="col-md-2">Log In</div>
                <div class="col-md-2">Sign Up</div>
                <div class="col-md-2">My Purchases</div>
                <div class="col-md-1">0 Items</div>
              </div>-->

              

              

          <!--</div>
      </nav>-->
<div>
  <p> <div img class=" col-md-3">

     <a href="/#"><img src="/assets/logo.png" style="height:107px"></a>
    </div>
    
    
    
    <div class="col-md-9">
        <p>
          We are super excited to invite you to our new initiative - My Signature Cup, an e-portal where you can customise your beverage, select the packaging, create the blend name and personalise your message for your near and dear ones. We believe this concept adds a whole new dimension to gifting. We hope you will enjoy this experience and share your valuable thoughts with us on mysignaturecup@girnar.com.
        </p>
    </div>
     </p>
</div>


<div style="">
  <img class="img-responsive" style="position:relative;clear:both"src="/assets/line-2.png">
  <!--<h1 style="position: absolute; top: 60px; left: 23.5%; width: 80%; padding: 4px; background-color: transparent"
</h1>-->
          <p id="header-font-poweredby">&nbsp;&nbsp;powered by</p> <a href="https://www.girnar.com" target="_blank"><img class="img-responsive" style="position: relative;height:20px; display: inline" src="/assets/girnarlogo.png"></a>
          <img class="img-responsive" style="position: relative; display: inline" src="/assets/divider.png">
          <img class="img-responsive" style="position: relative; display: inline;" src="/assets/loginlogo.png">&nbsp;&nbsp;<p id="header-font">Log In</p>
          <img class="img-responsive" style="position: relative; display: inline" src="/assets/divider2.png">
          <img class="img-responsive" style="position: relative; display: inline;" src="/assets/signuplogo.png"><p id="header-font">&nbsp;&nbsp;Sign Up</p>
          <img class="img-responsive" style="position: relative; display: inline" src="/assets/divider2.png">
          <p id="abcd" style="  ">Follow us on&nbsp;</p> 
          <a href="https://www.facebook.com/TeasAtGirnar" target="_blank"><img class="img-responsive" style="position: relative; display: inline;height:22px" src="/assets/fblogo.png"></a>&nbsp;
          <a href="https://twitter.com/teasatgirnar" target="_blank"><img class="img-responsive" style="position: relative; display: inline;height:22px" src="/assets/twitterlogo.png"></a>&nbsp;
           <a href="https://www.linkedin.com/company/girnar-food-&-beverages-pvt-ltd" target="_blank"><img class="img-responsive" style="position: relative; display: inline;height:22px" src="/assets/linkedinlogo.png"></a>&nbsp;
          <a href="https://www.youtube.com/user/TeasAtGirnar" target="_blank"><img class="img-responsive" style="position: relative; display: inline;height:22px" src="/assets/youtubelogo.png"></a>&nbsp;
          <a href="https://www.instagram.com/teasatgirnar" target="_blank"><img class="img-responsive" style="position: relative; display: inline;height:22px" src="/assets/instagramlogo.png"></a>&nbsp;
          <p id="abcd">&nbsp;Call us on</p><p id="yellownumber"> 1-800-209-6502</p>
          <img class="img-responsive" style="position: relative"src="/assets/line-2.png">
      
</div>

