<li role="presentation" style="min-width: 240px" class="tea_bases_observer testli" value="<%= tea_base.id %>" onclick="dynamic_event()" data-text="<%= tea_base.name %>">
    <a role="menuitem" tabindex="-1" href="javascript:return false;"><%= tea_base.name %></a>
</li>
