
<div style="clear:both">
  <ul class="menudiv2">
    <li class="liwithdivider" style="  padding-left: 0px;">
      <p id="header-font-poweredby">100% Secure Payment</p> <a href="https://www.girnar.com" target="_blank"><img class="img-responsive" style="position: relative;height:13px; display: inline" src="/assets/cards/all_cards.png"></a>
    </li>
    <li class="liwithdivider">
      <p id="header-font-poweredby">Buy more tea at </p> <a href="https://www.girnar.com" target="_blank"><img class="img-responsive" style="position: relative;height:21px; display: inline" src="/assets/chaichailogo.png"></a>
    </li>
    <li class="liwithdivider">
      <img class="img-responsive header_li_image" style="position: relative; display: inline;" src="/assets/loginlogo.png"><p id="header-font"> Log In</p>
    </li>
    <li class="liwithdivider">
      <img class="img-responsive header_li_image" style="position: relative; display: inline;" src="/assets/signuplogo.png"><p id="header-font">  Sign Up</p>
    </li>
    <li class="liwithoutdivider">
      <img class="img-responsive header_li_image" style="position: relative; display: inline;" src="/assets/cartlogo.png"><p id="header-font"> 0 items</p>
    </li>
    

    
    
  </ul>

</div>      
      
      
      
<div>
  <p>
   <div img class=" col-md-3">

     <a href="/#"><img src="/assets/logo.png" style="height:107px;  position: relative;  margin-left: 11px; margin-bottom: 10px;">
     </a>
   </div>
    
   <div class="col-md-9 header_other_images">
     <a href="#" target="_blank"><img class="img-responsive margin_images" style="position: relative;width:175px; display: inline" src="/assets/header_other/track_my_order.png"></a>
     <a href="#" target="_blank"><img class="img-responsive margin_images" style="position: relative;width:175px; display: inline" src="/assets/header_other/reorder_refill.png"></a>
     <a href="#" target="_blank"><img class="img-responsive" style="position: relative;width:175px; display: inline" src="/assets/header_other/Make_MSC.png"></a>
    </div> 
      
    
    
<!--<div class="col-md-9">
        <p>
          We are super excited to invite you to our new initiative - My Signature Cup, an e-portal where you can customise your beverage, select the packaging, create the blend name and personalise your message for your near and dear ones. We believe this concept adds a whole new dimension to gifting. We hope you will enjoy this experience and share your valuable thoughts with us on mysignaturecup@girnar.com.
        </p>
    </div>-->
     </p>
</div>



<br>

<div style="clear:both">
  <ul class="menudiv">
    <li class="liwithoutdivider col-md-5" style="  padding-left: 0px;">
      <p id="header-font-poweredby">powered by</p> <a href="https://www.girnar.com" target="_blank"><img class="img-responsive" style="position: relative;height:20px; display: inline" src="/assets/girnarlogo.png"></a>
    </li>
    <li class="liwithoutdivider col-md-7" style="text-align:center">
      <p id="abcd" style="  margin-right: 8px;">Follow us on </p> 
      <a href="https://www.facebook.com/TeasAtGirnar" target="_blank"><img class="img-responsive social_images" style="position: relative; display: inline;height:22px" src="/assets/fblogo.png"></a> 
      <a href="https://twitter.com/teasatgirnar" target="_blank"><img class="img-responsive social_images" style="position: relative; display: inline;height:22px" src="/assets/twitterlogo.png"></a> 
      <a href="https://www.linkedin.com/company/girnar-food-&-beverages-pvt-ltd" target="_blank"><img class="img-responsive social_images" style="position: relative; display: inline;height:22px" src="/assets/linkedinlogo.png"></a> 
      <a href="https://www.youtube.com/user/TeasAtGirnar" target="_blank"><img class="img-responsive social_images" style="position: relative; display: inline;height:22px" src="/assets/youtubelogo.png"></a> 
      <a href="https://www.instagram.com/teasatgirnar" target="_blank"><img class="img-responsive social_images" style="position: relative; display: inline;height:22px" src="/assets/instagramlogo.png"></a> 
      <p id="abcd" style="left:10px"> Call us on</p><p id="yellownumber" style="left:12px"> 1-800-209-6502</p>
    </li>
    

    
    
  </ul>

</div>
  

